<section class="historias historias_txt">
	<ul class="historias-otras">
		<li>
			<figure class="historias-avatar">
				<img src="assets/img/_img-testimonial02.jpg" srcset="assets/img/_img-testimonial02@2x.jpg" alt="Testimonal 1">
			</figure>
			<p class="historias-testimonio">Desde que uso Ya Ganaste, no me toca mandar a mis clientes al cajero por dinero</p>
			<p class="author mainlink">Juan Pablo Gómez <br><small>Mecánico</small></p>
		</li>
		<li>
			<figure class="historias-avatar">
				<img src="assets/img/_img-testimonial01.jpg" srcset="assets/img/_img-testimonial01@2x.jpg" alt="Testimonal 1">
			</figure>
			<p class="historias-testimonio">Aceptar pagos con tarjeta me ha ayudado a atraer más clientes y vender más</p>
			<p class="author mainlink">Victoria Pérez <br><small>Cafetería "Buenos días"</small></p>
		</li>
		<li>
			<figure class="historias-avatar">
				<img src="assets/img/_img-testimonial03.jpg" srcset="assets/img/_img-testimonial03@2x.jpg" alt="Testimonal 1">
			</figure>
			<p class="historias-testimonio">Ahora puedo atender a mis pacientes en su casa y cobrarles ahí mismo</p>
			<p class="author mainlink">Alejandra Alcántar <br><small>Veterinario</small></p>
		</li>
	</ul>
	<button class="btn" [routerLink]="['adquierelo']"><span>¡Adquiérelo YA!</span></button>
</section>
