<section class="inicio">

	<nav class="inicio-links">
		<ul>
			<li>
				<button class="mainlink" [routerLink]="['/adquierelo']">Adquiérelo YA</button>
			</li>
			<li>
				<button class="mainlink" [routerLink]="['/preguntas-frecuentes']">Atención a clientes</button>
			</li>
			<li>
				<button class="mainlink" class="mainlink" (click)="viewcontact = true">Contacto</button>
			</li>
		</ul>
	</nav>
	<div class="inicio-logo">
		<img src="assets/img/lg-YaGanaste.png" srcset="assets/img/lg-YaGanaste@2x.png 2x" alt="Ya Ganaste">
	</div>
	<div class="maincontainer animated fadeInUp">
		<h1 class="titulos">¡VENDE MÁS Y PAGA MENOS!</h1>
		<h3 class="subtitulos">Acepta pagos con tarjeta desde tu celular con la tasa más baja del mercado.</h3>
		<ul class="inicio-tarjetas">
			<li>
				<i class="icon-mastercard"></i>
			</li>
			<li>
				<i class="icon-visa"></i>
			</li>
			<li>
				<i class="icon-carnet"></i>
			</li>
			<li>
				<i class="icon-pagatodo"></i>
			</li>
			<li>
				<i class="icon-sodexo"></i>
			</li>
			<li>
				<i class="icon-efectivale"></i>
			</li>
		</ul>
		<p>Genera más ventas en tu negocio aceptando tarjetas de crédito, débito y vales de despensa. Recibe el dinero de tus ventas al día siguiente en tu tarjeta de débito Ya Ganaste Mastercard.</p>
		<button class="btn btn_alt" [routerLink]="['adquierelo']">
			<span>¡Adquiérelo YA!</span>
		</button>
		<div class="inicio-dongle animated fadeInUp delay"></div>
	</div>
	<div class="inicio-bgphoto animated fadeIn"></div>
</section>


<section class="modalbox animated fadeIn" *ngIf="viewcontact" (click)="closeModal($event)">
	<button class="btn-close" (click)="viewcontact = false">X cerrar</button>
	<div class="modalbox-container boxcontact">
		<h2 class="titulos"><i class="icon-yaganaste"></i> Queremos escucharte</h2>
		<p>Si tienes cualquier duda, contáctanos ¡Nosotros te ayudamos!. <br><br>Ponemos nuestra línea <a href="tel:018005001000">01 800 500 1000</a> a tu disposición, así como nuestro correo electrónico: <a href="mailto:contacto@yaganaste.com">contacto@yaganaste.com</a></p>
	</div>
</section>
