<footer class="footer">
	<div class="maincontainer">
		<i class="icon-yaganaste"></i>
		<p>© Copyright 2018 Ya Ganaste. Todos los Derechos Reservados.</p>
		<ul class="footer-links">
			<li>
				<button class="btn-more" [routerLink]="['/preguntas-frecuentes']">FAQs</button>
			</li>
			<li>
				<a href="https://www.bancopagatodo.com/" target="_blank">Banco Pagatodo</a>
			</li>
			<li>
				<a href="https://www.bancopagatodo.com/aviso_legal.html" target="_blank">Aviso legal</a>
			</li>
			<li>
				<a href="https://www.bancopagatodo.com/privacidad.html" target="_blank">Aviso de privacidad</a>
			</li>
			<li>
				<button class="btn-more" (click)="viewcontact = true">Contacto</button>
			</li>
		</ul>
	</div>
</footer>

<section class="modalbox animated fadeIn" *ngIf="viewcontact" (click)="closeModal($event)">
	<button class="btn-close" (click)="viewcontact = false">X cerrar</button>
	<div class="modalbox-container boxcontact">
		<h2 class="titulos">Queremos escucharte</h2>
		<p>Si tienes cualquier duda, contáctanos ¡Nosotros te ayudamos!. <br><br>Ponemos nuestra línea <a href="tel:018005001000">01 800 500 1000</a> a tu disposición, así como nuestro correo electrónico: <a href="mailto:contacto@yaganaste.com">contacto@yaganaste.com</a></p>
	</div>
</section>

<section class="modalbox animated fadeIn" *ngIf="viewfaqs" (click)="closeModal($event)">
	<button class="btn-close" (click)="viewfaqs = false">X cerrar</button>
	<div class="modalbox-container boxfaq">
		<app-faq></app-faq>
	</div>
</section>
