<section class="historias historias_main">
	<div class="historias-container">

		<div class="historias-half">
			<div class="historias-vidimg">
				<figure>
					<img src="assets/img/_img-historia_main.jpg" srcset="assets/img/_img-historia_main@2x.jpg 2x" alt="Historia YA ganaste">
				</figure>
			</div>
			<div class="historias-device" [ngClass]="{'active': viewvid}">
				<button class="btn-close" (click)="viewvid = false">X Cerrrar</button>
				<div class="historias-video animated fadeIn" *ngIf="viewvid">
					<iframe [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
				</div>
				<button class="btn-play" (click)="viewvid = true" *ngIf="!viewvid">
					<i class="icon-play"></i>
				</button>
			</div>
		</div>

		<div class="historias-half">
			<div class="historias-text">
				<h3 class="subtitulos"><i class="icon-historias"></i> Historias “YA GANASTE”</h3>
				<p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare.</p>
				<button class="btn btn_secAlt" (click)="viewvid = true">
					<span>Ver video</span>
				</button>
			</div>
		</div>
	</div>
</section>
