<section class="faqs animated fadeIn">
	<div class="inicio-logo">
		<img src="assets/img/lg-YaGanaste.png" srcset="assets/img/lg-YaGanaste@2x.png 2x" alt="Ya Ganaste">
	</div>
	<button class="btn btn_alt" [routerLink]="['/']"><span>Regresar</span></button>
	<div class="faqs-texts">
		<p>Si tienes cualquier duda, contáctanos ¡Nosotros te ayudamos!. <br>Ponemos nuestra línea <a href="tel:018005001000">01 800 500 1000</a> a tu disposición, así como nuestro correo electrónico: <a href="mailto:contacto@yaganaste.com">contacto@yaganaste.com</a></p>
	</div>

	<h2 class="titulos">Preguntas frecuentes</h2>

	<ul class="faqs-lista animated fadeInUp delay25">
		<li>
			<h3 class="subtitulos">¿Qué tarjetas puedo aceptar con mi Lector de Tarjetas? </h3>
			<p>Tu Lector de Tarjetas acepta todas las tarjetas de crédito y débito Visa y MasterCard; además, si estás en la Ciudad de México, podrás aceptar tarjetas de los Programas Sociales más importantes de la Ciudad de México, como Adulto Mayor y Útiles y Uniformes. </p>
		</li>
		<li>
			<h3 class="subtitulos">¿Cuál es la comisión por cobros con Tarjetas? </h3>
			<p>¡Tenemos la comisión más baja del mercado! Cada cobro que realices con tarjeta generará una comisión del 2.99% + IVA sobre el monto de la operación, el cual se descontará automáticamente en tu reembolso.</p>
		</li>
		<li>
			<h3 class="subtitulos">¿Qué celulares son compatibles con el Lector de Tarjetas? </h3>
			<p>Nuestra aplicación es compatible con smartphones iOS y Android.</p>
			<h4>Para Android:</h4>
			<p>Contar con versión de Android 4.1 mínimo.<br>El dispositivo debe encontrarse dentro de la listaa oficial de dispositivos aceptados y validados por Google. <br>La versión de Google Play del dispositivo debe ser mayor a las 8.0.1 </p>
			<h4>Para iOS:</h4>
			<p>Contar con versión de iOS 9 mínimo<br>
			La aplicación debe encontrarse disponible en App Store </p>
		</li>
		<li>
			<h3 class="subtitulos">¿Qué necesito para usar el Lector de Tarjetas? </h3>
			<p>Para poder recibir pagos con Ya Ganaste necesitas: </p>
			<ul class="lista">
				<li>Un Smartphone con sistema operativo compatible.</li>
				<li>Conexión a Internet, WiFi, 3G o 4G.</li>
				<li>Tener tu app Ya Ganaste y estar registrado.</li>
				<li>Contar con el Lector de Tarjetas Ya Ganaste.</li>
			</ul>
			<p>Para que tu Lector funcione de la mejor manera es importante que revises lo siguiente en tu aplicación: </p>
			<ul class="lista">
				<li>Activar la geolocalización para Ya Ganaste.</li>
				<li>Activar el micrófono para Ya Ganaste.</li>
				<li>Volumen alto (el botón de silencio debe estar desactivado).</li>
				<li>Configurar el Idioma de tu teléfono a Español.</li>
			</ul>
		</li>
		<li>
			<h3 class="subtitulos">¿Dónde puedo adquirir mi Lector de Tarjetas?</h3>
			<p>¡Adquirir tu Lector es muy fácil! Puedes conseguirlo a través de nuestra página Web, o solicitarlo a través de nuestro Centro de Atención Ya Ganaste ( <a href="tel:+018005001000"> 01 800 500 1000</a> ). </p>
		</li>
		<li>
			<h3 class="subtitulos">¿Qué debo hacer si perdí, me robaron o se descompuso mi Lector de Tarjetas? </h3>
			<p>¡No te preocupes! Nadie podrá afectar tu saldo por reembolsar. Comunícate con nosotros al Centro de Atención Ya Ganaste ( <a href="tel:+018005001000"> 01 800 500 1000</a> ) y nosotros te indicaremos qué hacer. </p>
		</li>
		<li>
			<h3 class="subtitulos">¿Qué operaciones puedo hacer con mi cuenta Ya Ganaste? </h3>
			<p>Con tu Cuenta Ya Ganaste puedes enviar dinero a quien tú quieras, pagar tus servicios y realizar recargas de tiempo aire y tag.<br>
			Recuerda que tienes un límite de depósitos al mes de 3,000 UDIS (aprox. $16,000.00). Si quieres recibir más, contáctanos a través del Centro de Atención Ya Ganaste al teléfono <a href="tel:+018005001000"> 01 800 500 1000</a>. </p>
		</li>
		<li>
			<h3 class="subtitulos">¿En dónde puedo utilizar mi tarjeta Ya Ganaste? </h3>
			<p>Puedes utilizar tu Tarjeta Ya Ganaste en cualquier establecimiento que acepte pargos con tarjeta mastercard®; además, puedes retirar dinero en cualquier cajero automático o en las tiendas de autoservicio más importantes de México. </p>
		</li>
		<li>
			<h3 class="subtitulos">¿Qué debo hacer si perdí o me robaron mi Tarjeta? </h3>
			<p>Si perdiste tu tarjeta, ¡no te preocupes!, puedes bloquearla desde la Aplicación móvil, para que no hagan un mal uso de ella, si te la robaron, puedes llamarnos al Centro de Atención Ya Ganaste ( <a href="tel:+018005001000"> 01 800 500 1000</a> ) y uno de nuestros operadores te ayudara a cancelarla y solicitar una nueva. </p>
		</li>
		<li>
			<h3 class="subtitulos">¿Qué garantía tiene mi Lector? </h3>
			<p>Tu Lector Cuenta con 90 días naturales de garantía a partir de la fecha de compra. La garantía se hará válida únicamente con la presentación del ticket de compra o factura correspondiente. En caso de reclamación, el distribuidor tendrá la facultad de decidir si el lector estropeado es reemplazado o reparado; en caso de reparación, el lector contará con 30 días naturales de garantía una vez reparado. <br>La presente garantía no será efectiva en caso de: </p>
			<ul class="lista">
				<li>Negligencia en el uso (golpes, maltratos, humedad, etc.).</li>
				<li>Daños intencionales o derivados del mal uso del lector.</li>
				<li>Haber realizado cambios superficiales, internos o de apariencia del Lector.</li>
				<li>Exposición a temperaturas poco adecuadas.</li>
				<li>Se presente con golpes, perforaciones, quemaduras o ralladuras.</li>
			</ul>
			<p>Esta póliza de garantía no cubre accesorios. Esta garantía no incluye la obligación por parte del distribuidor o fabricante de mantener el lector en condiciones de usabilidad para todas las plataformas o entornos operativos, incluyendo, pero no limitando, la interoperabilidad con todas las versiones actuales o futuras. Esta garantía deja a salvo los derechos legales del consumidor. <br>Para hacer válida esta garantía, así como para cualquier otra duda relacionada con la operación de su lector, comunicarse al centro de atención YA GANASTE (<a href="tel:+018005001000"> 01 800 500 1000</a> ).</p>
		</li>
	</ul>

	<h2 class="titulos">Tips y Recomendaciones </h2>
	<div class="faqs-lista animated fadeInUp delay25">
		<h3 class="subtitulos">Cuenta y Tarjeta: </h3>
		<ul class="lista">
			<li>Firma de Inmediato tu Tarjeta Con Bolígrafo.</li>
			<li>Evita Perder de Vista su Tarjeta al Realizar Pagos en Comercias. Procura Que la Transacción se Realice Siempre en tu Presencia y Cuando se la Regresen Asegúrate de que Sea la Suya.</li>
			<li>No Prestes tu Tarjeta, ni Permitas Que Otras Personas la Usen en tu Nombre.</li>
			<li>Si tu Tarjeta Venció, se Deterioró o la Cancelaste, Destrúyela Raspando la Firma y Cortando el Plástico en Fragmentos.</li>
			<li>En Caso de Robo o Extravió de tu Tarjeta, Repórtala de Inmediato Con Nosotros.</li>
			<li>No Respondas Correos Electrónicos de Desconocidos.</li>
			<li>No Compartas Tus Contraseñas ni Los Datos de tu Cuenta Con Nadie.</li>
			<li>Revisa Que La Firma Del Titular de la Tarjeta Con Incida Con la Firma Escrita en la Pantalla.</li>
			<li>Verifique Que la Tarjeta no Haya Vencido o Que se Vea Alterada.</li>
			<li>Se Recomienda Que Compruebes la Identificación Del Titular de la Cuenta Para Ver Que coincida Con la Firma Escrita en la Pantalla. </li>
		</ul>
		<h3 class="subtitulos">Lector: </h3>
		<ul class="lista">
			<li>Asegúrate de Cargar tu Lector 2 Horas Antes de tu Primera Transacción Del Día.</li>
			<li>No Pierdas de Vista tu Lector.</li>
			<li>Asegúrate de Mantener el Volumen Alto Para Recibir Mejor Señal Para Hacer Cobros.</li>
			<li>No Desconectes el Lector Hasta Que Finalices el Cobro Con Éxito.</li>
			<li>Comprueba Que la Conexión Entre tu Celular Y el Lector Funcione Correctamente Antes de Hacer un Cobro.</li>
			<li>Mantén tu Lector De Tarjeta Limpio,</li>
			<li>Recuerda Mantener tu Ubicación Y tu Micrófono Activados.</li>
			<li>Limpia el Exterior de tu Lector Con Una Tela Suave Húmeda Sin Rociar Líquidos. </li>
		</ul>
	</div>
	<button class="btn btn_alt" [routerLink]="['/']"><span>Regresar</span></button>
</section>
