<section class="adquirir animated fadeIn">
	<div class="inicio-logo">
		<img src="assets/img/lg-YaGanaste.png" srcset="assets/img/lg-YaGanaste@2x.png 2x" alt="Ya Ganaste">
	</div>
	<button class="btn btn_alt" [routerLink]="['/']"><span>Regresar</span></button>
	<h2 class="titulos">Adquiere aquí tu lector Ya Ganaste</h2>
	<div class="adquirir-venta animated fadeInUp delay25">
		<div id='product-component-c9299f7d2dc'></div>
	</div>
	<button class="btn btn_alt mobilebtn" [routerLink]="['/']"><span>Regresar</span></button>
</section>
