<aside class="sabias" [ngClass]="{'close': !hint, 'follow': track }">
	<button class="btn-close" (click)="hint = false">Cerrar</button>
	<div class="sabias-cont">
		<div class="sabias-ico">
			<i class="icon-know"></i>
		</div>
		<div class="sabias-text">
			<h3 class="subtitulos">¿Sabías que...?</h3>
			<p>Los negocios que aceptan pagos con tarjeta venden un 30% más al día.</p>
		</div>
	</div>
	<button class="btn-open animated fadeIn" *ngIf="!hint" (click)="hint = true"><i class="icon-know"></i> Ver Tips</button>
</aside>

<section class="ventajas"
					trackScroll
					(trackScrollEnter)="track = true"
					(trackScrollLeave)="track = false"
					[trackScrollConfig]="{position:'top'}">
	<div class="maincontainer">
		<h2 class="titulos">Ahora, cobrar con tarjeta en tu negocio es muy fácil, rápido y más económico con “Ya Ganaste”</h2>
		<div class="ventajas-simulador">
			<h3 class="subtitulos">Tenemos la comisión más baja: <span class="subtitulos-big">2.99% </span><small> + I.V.A.</small></h3>

			<div class="simulador animated fadeInUp">

				<div class="simulador-cont" [ngClass]="{'flip': compare}">
					<div class="simulador-front">
						<p>Puedes calcular fácilmente cuánto cobras y cuánto recibirás:</p>
						<div class="simulador-part">
							<div class="input">
								<span>$</span>
								<input
										appOnlynumber="true"
										type="number"
										placeholder="1,000.00"
										max="99999.99"
										min="0"
										step="1"
										maxlength="5"
										onKeyPress="if(this.value.length==7) return false;"
										(keyup)="onKey($event)"
										[(ngModel)]='amount'
										(focusout)="checkAmount()">
								<p>Ingresa aquí el <br>monto de tu venta</p>
							</div>
							<div class="simulador-resultado">
								<h2 class="titulos">{{ values | currency }}</h2>
								<p>Cantidad que recibirás <br>¡Al día siguiente!</p>
							</div>
						</div>
						<button class="btn-more" (click)="compare = true">Compara con otros lectores</button>
					</div>
					<div class="simulador-back">
						<ul class="simulador-comisiones">
							<li><i class="icon-yaganaste"></i> <span>2.99%</span></li>
							<li>iZettle: <span>3.75%</span></li>
							<li>Señor Pago: <span>3.6%</span></li>
							<li>Clip: <span>3.6%</span></li>
							<li>Billpocket: <span>3.5%</span></li>
						</ul>
						<button class="btn-more" (click)="compare = false">Regresar</button>
					</div>
				</div>
			</div>

			<button class="btn" [routerLink]="['adquierelo']"><span>¡Adquiérelo YA!</span></button>
		</div>

		<figure class="ventajas-gif">
			<img src="assets/img/img-smartphone.png" srcset="assets/img/img-smartphone@2x.png 2x" alt="Ya Ganaste App">
		</figure>

		<div class="bloques">
			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-comision"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Comisón de 2.99%</h4>
					<p>Nuestra comisión es la más baja de sólo de 2.99% + IVA, con otros puede ser de hasta 3.75%</p>
				</div>
			</div>

			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-reembolso"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Reembolso en un día</h4>
					<p>El dinero de tus ventas estará disponible al día siguiente, ¡Aún en fin de semana!</p>
				</div>
			</div>

			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-uso"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Fácil de usar</h4>
					<p>Ingresa el monto a cobrar, inserta o desliza la tarjeta, solicita la firma de tu cliente, y ¡listo!</p>
				</div>
			</div>

			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-soporte"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Línea de ayuda</h4>
					<p>Brindamos soporte 24/7* en: contacto@yaganaste.com o en nuestra línea 01 800 500 1000.</p>
				</div>
			</div>
		</div>

	</div>

	<div class="tarjeta">
		<figure class="tarjeta-mano">
			<img src="assets/img/img-card.png" srcset="assets/img/img-card@2x.png 2x" alt="Tarjeta Ya Ganaste">
		</figure>
		<div class="maincontainer">
			<div class="tarjeta-textos">
				<h3 class="subtitulos">No necesitas cuenta bancaria</h3>
				<p>Incluye tarjeta de débito mastercard -aceptada en miles de establecimientos en todo el país- en la que recibirás el dinero de tus ventas al día siguiente. Además, desde la app “Ya Ganaste” puedes  enviar y solicitar dinero, hacer recargas de tiempo aire y pagar tus servicios.</p>
				<ul class="tarjeta-servicios">
					<li>
						<img src="assets/img/lg-telcel.png" srcset="assets/img/lg-telcel@2x.png 2x" alt="Telcel">
					</li>
					<li>
						<img src="assets/img/lg-pase.png" srcset="assets/img/lg-pase@2x.png 2x" alt="Tag Pase">
					</li>
					<li>
						<img src="assets/img/lg-att.png" srcset="assets/img/lg-att@2x.png 2x" alt="AT&T">
					</li>
					<li>
						<img src="assets/img/lg-movistar.png" srcset="assets/img/lg-movistar@2x.png 2x" alt="Movistar">
					</li>
					<li>
						<img src="assets/img/lg-cfe.png" srcset="assets/img/lg-cfe@2x.png 2x" alt="CFE">
					</li>
					<li>
						<img src="assets/img/lg-sky.png" srcset="assets/img/lg-sky@2x.png 2x" alt="Sky">
					</li>
					<li>
						<img src="assets/img/lg-telmex.png" srcset="assets/img/lg-telmex@2x.png 2x" alt="Telmex">
					</li>
					<li>
						<p>y más...</p>
					</li>
				</ul>
				<p>Descarga gratis la App “Ya Ganaste”</p>
				<div class="app-playstore">
					<a href='https://play.google.com/store/apps/details?id=com.pagatodo.yaganaste&hl=es&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponible en Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/es-419_badge_web_generic.png'/></a>
				</div>
				<div class="app-appstore">
					<a href="https://itunes.apple.com/mx/app/ya-ganaste/id1040556964?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/es-mx/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
				</div>
			</div>
		</div>
	</div>
</section>
