.adquirir
	position relative
	width 100%
	height 100%
	overflow auto
	padding 2%
	min-height 90vh
	background-color $azul
	.titulos
		color $blanco
		text-align center
		margin-bottom 1.5em

	.btn
		display block
		margin 1em auto 3em

	&-venta
		width 90%
		max-width 1024px
		margin 0 auto
		border-radius 10px
		box-shadow 0 2px 15px $negro
		background-color $blanco
		padding 2%

	@media only screen and (min-width:750px)
		.btn
			&.mobilebtn
				display none
