.animated
	animation-duration 1s
	animation-fill-mode both

@keyframes fadeIn
	from
		opacity 0
	to
		opacity 1

@keyframes fadeInUp
	from
		opacity 0
		transform translate3d(0, 100%, 0)

	to
		opacity 1
		transform none

@keyframes fadeInLeft
	from
		opacity 0
		transform translate3d(-100%, 0, 0)
	to
		opacity 1
		transform none

.fadeInLeft
  animation-name fadeInLeft

.fadeInUp
	animation-name fadeInUp

.fadeIn
	animation-name fadeIn

.delay
	animation-delay 0.5s

.delay25
	animation-delay 0.25s

.delay35
	animation-delay 0.35s

.delay65
	animation-delay 0.75s

.delay75
	animation-delay 0.75s

.delay1
	animation-delay 1s
