.btn
	appearance none
	border none
	position relative
	min-width 170px
	text-align center
	background-color transparent
	cursor pointer
	padding 0
	margin 1em
	span
		bold()
		color $blanco
		font-size 14px
		position relative
		background-color $azul
		display block
		padding 11px
		z-index 1
		border 2px solid $azul
		border-radius 7px
		efecto(.33s)
	&:before
		content ''
		display block
		position absolute
		background-color $azul
		z-index 0
		width 90%
		height 100%
		top 8px
		left 5%
		opacity .35
		efecto(.33s)
		filter blur(5px)

	&_alt
		span
			background-color $blanco
			color $azul

	&_sec
		span
			border-color $gris
			background-color $gris
		&:before
			background-color $gris

	&_secAlt
		span
			border-color $gris
			background-color $blanco
			color $gris
		&:before
			background-color $gris

	&-play
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		color $blanco
		appearance none
		border none
		font-size 50px
		background-color transparent
		cursor pointer
		padding 0
		z-index 2
		@media only screen and (min-width: 750px)
			font-size 75px
			top 30%

	&-close
	&-open
		position absolute
		top 7px
		right 11px
		appearance none
		border none
		font-size 10px
		background-color transparent
		font-family 'Didact Gothic', sans-serif
		cursor pointer
	&-open
		position relative
		color $azul
		transform translateY(-40px)

	&-more
		appearance none
		border none
		font-size 1em
		color $azul
		background-color transparent
		font-family 'Didact Gothic', sans-serif
		cursor pointer

	@media only screen and (min-width: 1240px)
		&:hover
			span
				background-color $azulCl
			&:before
				transform translateY(-5px)
				opacity 0.8
				filter blur(3px)

		&_alt
			&:hover
				span
					background-color $blanco
					color $azulCl
					border-color $azulCl

		&_secAlt
			&:hover
				span
					background-color $blanco
					color $azul
					border-color $azulCl
