.comenzar
	position relative
	text-align center
	.titulos
		color $blanco
	&:before
		content ''
		display block
		redondo(320px)
		position absolute
		z-index 0
		gradient(#00A1E1, #22BCFA)
		top -170px
		left 50%
		transform translateX(-50%)

	.bloques
		position relative
		z-index 2
		padding 5%
		.icon-lector
			font-size 40px

		.buttonlinks
			.btnmore
				alinear(middle)
				margin-top 0.7em
				width 60px
				height 40px
				text-align left
				padding 0
				background-color $negro
				border-radius 4px
				color $blanco
				text-decoration none
				border 1px solid #868686
				i
					display block
					text-align center
					font-size 1.7em
					padding-top 7px
				&:last-child
					margin-left 10px
					img
						display block
						width 20px
						margin 8px auto 0


	.btnmore
		color $azul
		display block
		padding-top 1.8em
		text-align center
		width 100%
		appearance none
		border none
		background-color transparent
		font-family 'Didact Gothic', sans-serif
		font-size 1em
		cursor pointer

	@media only screen and (min-width: 580px)
		&:before
			width 590px
			height 590px
			top -270px

		.bloque
			min-height 260px
			padding 1%

.boxsteps
	.titulos
		text-align center
		color $azul
	&-steps
		padding 3%
		clearfix()
		li
			column(1/2, $cycle:2)
			text-align center
			position relative
			font-size 13px
			h4
				color $azul
				margin-bottom 0.4em
			p
				padding 0.25em 0
	&-icon
		display block
		max-width 50%
		margin 0 auto 1em

	&-dots
		display none
		position absolute

	@media only screen and (min-width: 750px)
		min-height 1px
		height auto
		padding 5% 0
		li
			column(1/4, $cycle:4)
			text-align center
		&-dots
			display block
			top 20%
			left 85%
