.faqs
	position relative
	height 100%
	overflow auto
	padding 3%
	background-color $gris

	&-lista
		width 90%
		max-width 1024px
		margin 0 auto
		border-radius 10px
		box-shadow 0 2px 15px $negro
		background-color $blanco
		padding 5%

	&-texts
		color $blanco
		width 90%
		max-width 1024px
		margin 0 auto
		a
			bold()
			font-size 1.2em

	.btn
		margin 1em auto 2em
		display block
	.titulos
		color $blanco
		margin 1em 0
		text-align center

	.subtitulos
		margin-bottom 0.4em
		padding-bottom 0.3em
		border-bottom 1px solid $gris
		font-size 1.5em

	p
		margin 0 0 0.5em
		padding-left 2%

	a
		color $azul

	h4
		margin 0 0 0.5em
		padding-left 2%
		bold()

	.lista
		list-style-type disc
		padding-left 4%
	li
		margin-bottom 0.35em

	@media only screen and (min-width: 750px)
		&-lista
			padding 2%
