
input::-webkit-outer-spin-button
input::-webkit-inner-spin-button
	appearance none
	margin 0

input[type=number]
	-moz-appearance textfield

.input
	clearfix()
	position relative
	width 190px
	margin 0.5em auto 1em
	>span
		color $azul
		font-size 1.615em
		bold()
		alinear(middle)
	input
		alinear(middle)
		border 1px solid $azul
		border-radius 7px
		background-color #F2F2F2
		box-shadow inset 0 1px 5px rgba($azul,0.34)
		font-size 1.615em
		bold()
		padding 0.25em 0.5em
		color $azul
		width 75%
		margin-left 2%
		text-align right
		&:focus
			outline 0

	@media only screen and (min-width: 580px)
		width 300px
		input
			font-size 2em
	@media only screen and (min-width: 1240px)
		input
			font-size 2.286em
