.historias
	position relative
	z-index 1
	background-color $gris
	background-image url('../img/pattern-historias.png')
	background-size 60px
	color $blanco
	padding 2em 1.5em
	text-align center
	&-half
		position relative

	&-vidimg
		position relative
		height 50vw
		border-radius 9px
		box-shadow 0px 2px 9px $negro
		background-color $gris
		overflow hidden
		img
			display block
			width 100%
			opacity .64
			position relative
			z-index 1

	&-device
		position absolute
		top 50%
		left 50%
		efecto(.33s)
		.btn-close
			display none
			color $blanco
			z-index 3

		&.active
			top 0
			left 0
			width 100%
			height 100%
			background-color $gris
			z-index 2
			.btn-close
				display block

	&-video
		width 100%
		height 100%
		iframe
			width 100%
			height 100%
			position relative
			z-index 1


	.icon-historias
		alinear(baseline)
		margin-right 5px
		font-size 25px

	&-otras
		li
			clearfix()
			margin-bottom 2em
		.author
			text-align left

	&-avatar
		redondo(50px)
		border 3px solid white
		overflow hidden
		box-shadow 0px 4px 15px $negro
		float left
		margin-right 25px
		margin-bottom 3em
		img
			display block
			width 100%

	&-testimonio
		margin 0
		text-align left
		padding 0 20px
		position relative
		&:before
			content '"'
			bold()
			font-size 32px
			position absolute
			top 0
			left 55px
			color $negro
		&:after
			content '"'
			bold()
			font-size 32px
			position absolute
			top 0
			right 20px
			color $negro

	@media only screen and (min-width: 580px)
		&-vidimg
			width 80%
			height 40vw
			margin 0 auto

		&-otras
			clearfix()
			max-width 600px
			margin 0 auto
			li
				column(1/3)

			.author
				padding-left 10px

		&-avatar
			float none
			display block
			margin 0 auto 1em
			width 100px
			height 100px

		&-testimonio
			&:before
				left 0
			&:after
				right 0

		&_txt
			.btn
				display block
				margin 0 auto

	@media only screen and (min-width: 750px)
		padding 0
		text-align left
		&-container
			clearfix()

		&-half
			column(1/2)

		&-vidimg
			height auto
			box-shadow none
			background-color transparent
			width 100%
			margin 0
			max-height 300px
			overflow hidden
			border-radius 0
			figure
				position relative
				width 100%
				height 50vw
				margin 0
				border-radius 0 0 100% 0
				box-shadow 0px 2px 9px $negro
				background-color $gris
				overflow hidden
				img
					position absolute
					top 40%
					left 50%
					transform translate(-50%, -50%)
					display block
					width 150%

		&-device
			z-index 2
			width 160px
			height 314px
			background-image url('../img/phone.png')
			background-size 100%
			background-repeat no-repeat
			transform translate(-50%, -50%)
			top 65%
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
				background-image url('../img/phone@2x.png')
			.btn-play
				top 45%

			&.active
				position absolute
				z-index 99
				width 206%
				height 100%
				top 0
				left 0
				background-color transparent
				transform translate(0,0)

		&-text
			width 245px
			.icon-historias
				display block
				font-size 45px
				margin-bottom 0.25em

			p
				text-align justify

		&_txt
			padding 5%

	@media only screen and (min-width: 1023px)
		&-vidimg
			max-height 360px
		&-text
			padding 2em 0em
			width 320px

		&-avatar
			width 150px
			height 150px

		&-testimonio
			max-width 225px
			margin 0 auto
			text-align center

		&-otras
			li
				.author
					text-align center

	@media only screen and (min-width: 1240px)
		&-device
			width 218px
			height 430px
			top -48px
			transform translateY(0)
			left 25%
			&.active
				background rgba($negro,0.75)
		&-video
			position relative
			margin 0 auto
			width 50%
		&-vidimg
			max-height 380px
			figure
				img
					top 20%

		&-text
			padding-left 5%
			width 400px

		&-otras
			max-width 1024px
