@font-face
	font-family 'icomoon'
	src url('../fonts/icomoon.eot?p4g3bq')
	src url('../fonts/icomoon.eot?p4g3bq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?p4g3bq') format('truetype'), url('../fonts/icomoon.woff?p4g3bq') format('woff'), url('../fonts/icomoon.svg?p4g3bq#icomoon') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"]
[class*=" icon-"]
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-apple:before {
  content: "\e916";
}
.icon-googleplay:before {
  content: "\e915";
}

.icon-yaganaste:before {
  content: "\e90b";
}

.icon-pagar:before {
  content: "\e90a";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-carnet:before {
  content: "\e901";
}
.icon-comision:before {
  content: "\e902";
}
.icon-efectivale:before {
  content: "\e903";
}
.icon-historias:before {
  content: "\e904";
}
.icon-know:before {
  content: "\e905";
}
.icon-lector_n:before {
  content: "\e906";
}
.icon-lector:before {
  content: "\e907";
}
.icon-mastercard:before {
  content: "\e908";
}
.icon-movil:before {
  content: "\e909";
}
.icon-pagatodo:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e90d";
}
.icon-reembolso:before {
  content: "\e90e";
}
.icon-registro:before {
  content: "\e90f";
}
.icon-sodexo:before {
  content: "\e910";
}
.icon-soporte:before {
  content: "\e911";
}
.icon-uso_n:before {
  content: "\e912";
}
.icon-uso:before {
  content: "\e913";
}
.icon-visa:before {
  content: "\e914";
}

