.inicio
	position relative
	background-color $azul
	color $blanco
	padding 1em 1em 150px
	z-index 2
	&-links
		position relative
		z-index 2
		ul
			clearfix()
			li
				column(1/3)
				text-align center
				padding 1em 0
				button
					cursor pointer

	&-logo
		position relative
		z-index 2
		max-width 70px
		margin 0 auto 1em
		img
			display block
			width 100%

	&-tarjetas
		display flex
		flex-direction row
		align-items center
		li
			margin-right 1em
			.icon
				&-pagatodo
					font-size 1.7em
				&-efectivale
					font-size 0.5em

	&-dongle
		width 150px
		height 138px
		position absolute
		bottom -150px
		background url('../img/img-dongle_mobile.png') no-repeat
		background-size cover

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
			background-image url('../img/img-dongle_mobile@2x.png')

	.titulos
		text-align center
		text-shadow 0px 2px 7px rgba($azulSec, 0.62)

	.subtitulos
		br
			display none

	.btn
		display block
		float right


	@media only screen and (min-width: 580px)
		background-color $blanco
		min-height 700px
		&:before
			content ''
			display block
			position absolute
			width 80%
			height 100%
			top 0
			left 0
			background-color $azul
			z-index 1
			border-radius 0 0 100% 0

		&:after
			content ''
			display block
			position absolute
			width 1850px
			height 1850px
			border-radius 50%
			border 230px solid $blanco
			left -918px
			top -1528px
			opacity 0.1
			z-index 1

		&-bgphoto
			position absolute
			top 0
			left 0
			z-index 0
			height 100%
			width 100%
			background-image url('../img/bg-inicio_tablet.jpg')
			background-repeat no-repeat
			background-position top right
			background-size cover
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
				background-image url('../img/bg-inicio_tablet@2x.jpg')

		&-links
			padding-left 40%

		&-logo
			position absolute
			max-width 80px
			top 2em
			left 2em

		&-tarjetas
			padding 2em 0 1em

		&-dongle
			width 165px
			height 151px
			bottom -175px

		.titulos
			max-width 320px
			text-align left
		.subtitulos
			max-width 430px
			br
				display block

		p
			max-width 360px

		.btn
			float none
			margin 3em 2.5em

	@media only screen and (min-width: 1023px)
		min-height 1px
		&:before
			width 70%

		&-bgphoto
			background-image url('../img/bg-inicio.jpg')
			background-position top center
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
				background-image url('../img/bg-inicio@2x.jpg')

		&-dongle
			width 250px
			height 185px
			bottom -200px
			background-image url('../img/img-dongle.png')
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
				background-image url('../img/img-dongle@2x.png')

		.maincontainer
			max-width 700px

	@media only screen and (min-width: 1240px)
		padding-bottom 220px
		overflow hidden
		z-index 1
		&:before
			width 65%
			height 110%
		&:after
			left -740px
			top -1498px
		&-links
			padding-left 60%
		&-logo
			max-width 150px

		&-tarjetas
			padding 1em 0
			li
				font-size 1.4em
		&-dongle
			width 307px
			height 227px
			left -90px

		.maincontainer
			max-width 860px

		.titulos
			max-width 420px

		.subtitulos
			max-width 500px
			margin 0
		.btn
			margin-left 320px
		p
			margin-top 0
			max-width 480px

	@media only screen and (max-height: 750px)
		padding-top 0
		.titulos
			margin 0 0 0.3em

		&-dongle
			bottom -157px
