@require 'jeet.styl'

@import 'mixins.styl'
@import 'icons.styl'
@import 'animations.styl'

body
html
	font-family 'Didact Gothic', sans-serif
	font-size 13px
	overflow-x hidden
	color $negro
	min-height 100vh
	width 100%
	margin 0
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing antialiased

	@media only screen and (min-width: 580px)
		font-size 14px
*
	box-sizing border-box
button
	&:focus
		outline 0

ul
	padding 0
	list-style none

figure
	margin 0

.maincontainer
	width 100%
	max-width 540px
	margin 0 auto
	position relative
	z-index 2

	@media only screen and (min-width: 1023px)
		max-width 850px

	@media only screen and (min-width: 1240px)
		max-width 1024px

.titulos
	bold()
h1
	&.titulos
		font-size 2.462em
		@media only screen and (min-width: 580px)
			font-size 2.857em
		@media only screen and (min-width: 1240px)
			font-size 3.429em

h2
	&.titulos
		font-size 1.615em
		@media only screen and (min-width: 580px)
			font-size 2em
		@media only screen and (min-width: 1240px)
			font-size 2.286em

.subtitulos
	bold()
	font-size 1.231em
	@media only screen and (min-width: 580px)
		font-size 1.429em
	@media only screen and (min-width: 1240px)
		font-size 1.714em

.mainlink
	bold()
	font-size 0.923em
	text-decoration none
	color inherit
	appearance none
	border none
	background-color transparent
	@media only screen and (min-width: 580px)
		font-size 1em
	@media only screen and (min-width: 1240px)
		font-size 1.143em
		efecto(.33s)

.bloques
	margin 2em 0
	clearfix()
	.bloque
		position relative
		border-radius 10px
		border 1px solid $azul
		padding 1em
		text-align left
		background-color $blanco
		margin-bottom 2em
		box-shadow 0 8px 10px rgba($azul,0.2)
		clearfix()
		&-icon
			column(2/8)
			font-size 50px
			color $azul
			padding-top 20px
		&-text
			column(6/8)
			h4
				color $azul
				font-size 1.231em
				margin 0 0 0.5em
			p
				margin 0

		.btn
			max-width 100%
			min-width auto

	@media only screen and (min-width: 750px)
		.bloque
			column(1/2, $cycle:2)
			min-height 260px
			&-icon
			&-text
				stack()
			&-icon
				margin-bottom 0.4em

	@media only screen and (min-width: 1023px)
		.bloque
			column(1/4, $cycle:4)


.footer
	color $blanco
	text-align center
	gradient(#00A1E1, #22BCFA)
	padding 1.5em 0
	.icon-yaganaste
		display block
		font-size 27px
		margin-bottom 10px

	&-links
		li
			alinear(middle)
			margin 0 0.5em
			position relative
			a
				color $blanco
				text-decoration none

			&:after
				content '-'
				margin-left 0.75em

			&:last-child
				&:after
					display none

		.btn-more
			color $blanco

.modalbox
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color rgba($negro,0.7)
	z-index 30
	&-container
		width 100%
		max-width 900px
		border-radius 10px
		box-shadow 0 2px 20px $negro
		overflow hidden
		margin 0 auto
		position relative
		top 50%
		transform translateY(-50%)
		height 100%
		max-height 90vh
		background-color $blanco

		&.boxcontact
			padding 2% 2% 4%
			max-width 450px
			max-height 45vh
			font-size 1.1em

			.titulos
				color $azul
				margin-top 0
			a
				bold()
				font-size 1.2em
				color $azul

			.icon-yaganaste
				display block
				margin 0 0 0.25em
				font-size 1.5em
				text-align center

	.btn-close
		color $blanco
		position absolute
		top 10%
		right 10%
		font-size 1em

	@media only screen and (min-width: 750px)
		&-container
			max-height 80vh

iframe
	width 100%
	height 100%

@import 'buttons.styl'
@import 'inicio.styl'
@import 'historias.styl'
@import 'ventajas.styl'
@import 'forms.styl'
@import 'comenzar.styl'
@import 'faq.styl'
@import 'adquirir.styl'

