$azul = #00A1E1
$gris = #445C6C
$negro = #293943
$verde = #00E000
$rojo = #FF2A5B
$azulSec = #257595
$azulCl = #71D4FC
$blanco = #ffffff
$grisCl = #E3EDEE

efecto(tiempo)
	{transition} all tiempo ease-in

bold()
	{font-family} 'Muli', sans-serif
	{font-weight} 800

alinear(posicion)
	{display} inline-block
	{vertical-align} posicion

clearfix()
	&:before
	&:after
		content ""
		display table
	&:after
		clear both

redondo(size)
	{border-radius} 50%
	{width} size
	{height} size

gradient(color1, color2)
	background color1
	background -moz-linear-gradient(top, color1 0%, color2 100%)
	background -webkit-linear-gradient(top, color1 0%,color2 100%)
	background linear-gradient(to bottom, color1 0%,color2 100%)
