.sabias
	position absolute
	z-index 4
	color $blanco
	padding 7px 11px 11px
	gradient(#00A1E1, #22BCFA)
	box-shadow 0 4px 18px rgba($gris,.25)
	width 100%
	height 70px
	efecto(.35s)
	>*
		efecto(.35s)
	&-cont
		clearfix()
	&-ico
		column(1/6)
		text-align right
		font-size 30px
		color $azulCl
	&-text
		column(5/6)

	.subtitulos
		margin 0 0 .3em

	p
		margin 0

	.btn-close
		color $blanco

	&.close
		transform translateY(-10px)
		height 0px
		>*:not(.btn-open)
			opacity 0

	&.follow
		position fixed
		top 0
	@media only screen and (min-width: 580px)
		&-ico
			font-size 45px

	@media only screen and (min-width: 1023px)
		max-width 310px
		right 0
		transform translateY(-20px)
		padding 25px 11px 18px
		border-radius 10px 0 0 10px
		height auto
		&-text
			padding 0 5%

		.btn-close
			left 5px

		&.close
			transform translateY(0)
			right -315px
			height auto
			>*
				opacity 1
			.btn-open
				transform translate(-70px, -100px)

		&.follow
			top 20px

.ventajas
	display block
	position relative
	background-color $blanco
	z-index 3
	padding 80px 3% 0
	text-align center
	background-image url('../img/bg-round.png')
	background-size 300px
	background-position center 20px
	background-repeat no-repeat

	&-gif
		display none
	.titulos
		color $azul

	.subtitulos
		&-big
			font-size 1.615rem
			color $azul
		small
			font-family 'Didact Gothic', sans-serif
			font-size 1rem


.simulador
	perspective 1000px
	&-cont
		margin 2.5em auto
		border-radius 10px
		box-shadow 0 2px 15px rgba($negro, .15)
		padding 1em
		max-width 500px
		transition 0.6s
		transform-style preserve-3d
		position relative
		height 305px
		&.flip
			transform rotateY(180deg)

	&-resultado
		border-top 1px solid #E3EDEE

	&-part
		clearfix()

	&-front
	&-back
		backface-visibility hidden
		position absolute
		top 0
		left 0
	&-front
		z-index 2
		padding 4%
		background-color $blanco
		transform rotateY(0deg)
		width 100%
		.btn-more
			margin-top 3%
	&-back
		border-radius 10px
		background-color $azul
		color $blanco
		width 100%
		padding 0 4%
		text-align left
		height 100%
		transform rotateY(180deg)
		.subtitulos
			margin-bottom 0.5em
		ul
			clearfix()
			height 100%
			li
				span(1/3, $cycle:3)
				height 40%
				text-align center
				padding-top 1.5em
				border-right 1px solid $azulCl
				border-bottom 1px solid $azulCl
				.icon-yaganaste
					font-size 30px
					display block
					margin-bottom 4px
				&:nth-child(3)
					border-right none
		span
			bold()
			display block
			font-size 1.75em
			padding-top 0.5em

		.btn-more
			color $blanco
			position absolute
			bottom 10px
			right 10px

	@media only screen and (min-width: 580px)
		&-cont
			height 355px

	@media only screen and (min-width: 750px)
		clearfix()
		.input
			margin-bottom 0
			p
				transform translateX(14px)
				margin-top 0.55em
		.input
		&-resultado
			column(1/2, $cycle:2)
			text-align center
		&-resultado
			border-top none
			border-left 1px solid #E3EDEE
			padding 0 0.5em
			.titulos
				margin 16px 0 0.5em

		&-cont
			height 205px

		&-front
			padding 0
			.btn-more
				margin-top 6px

		&-back
			ul
				height 50%
				margin-top 10%
				li
					span(1/5, $cycle:5)
					text-align center
					height 100%
					border-bottom none
					.icon-yaganaste
						margin-top -15px
					&:nth-child(3)
						border-right 1px solid $azulCl
					&:last-child
						border-right none

.tarjeta
	position relative
	padding-top 40px
	margin-bottom 30px
	&-mano
		position absolute
		top -20px
		left -3%
		width 163px
		z-index 3
		img
			display block
			width 100%

	&-textos
		position relative
		z-index 1
		background-color $grisCl
		border-radius 10px
		padding 63px 5% 15px
		clearfix()
		.subtitulos
			color $azul

	&-servicios
		padding-top 1em
		li
			alinear(middle)
			margin 0 4px 5px

	.app
		&-playstore
			column(1/2)
			text-align right
			img
				display inline-block
				width 100%
				max-width 215px
		&-appstore
			column(1/2)
			padding 8px
			a
				max-width 100%
				min-width 100%

	@media only screen and (min-width: 750px)
		&-mano
			width 333px
			left -160px
			top 50px
		&-textos
			padding 5% 5% 15px 100px

		.app
			&-appstore
				a
					min-height 53px
					margin-top 5px

	@media only screen and (min-width: 1240px)
		&-mano
			width 508px
			left -5%

		&-textos
			padding-left 350px
			margin-bottom 120px
