<section class="comenzar">
	<div class="maincontainer">
		<h2 class="titulos">Comienza a ganar más <br>¡Es muy fácil!</h2>
		<div class="bloques">
			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-lector"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Adquiere tu lector de tarjetas Ya Ganaste</h4>
					<button class="btn" [routerLink]="['adquierelo']"><span>¡Adquiérelo YA!</span></button>
				</div>
			</div>

			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-movil"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Descarga la App <br>en tu Smartphone</h4>
					<div class="buttonlinks">
						<a class="btnmore" href="https://itunes.apple.com/mx/app/ya-ganaste/id1040556964?mt=8" target="_blank"><i class="icon-apple"></i></a>
						<a class="btnmore" href="https://play.google.com/store/apps/details?id=com.pagatodo.yaganaste&hl=es&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank"><img src="assets/img/ico-googleplay.svg" alt="Play"></a>
					</div>
				</div>
			</div>

			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-registro"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Registra tus datos desde la App</h4>
					<button class="btn btn_alt" (click)="howto_register = true">
						<span>Cómo registrarte</span>
					</button>
				</div>
			</div>

			<div class="bloque">
				<div class="bloque-icon">
					<i class="icon icon-pagar"></i>
				</div>
				<div class="bloque-text">
					<h4 class="mainlink">Ganar más aceptando pagos con tarjeta</h4>
					<button class="btn btn_alt" (click)="howto_pay = true">
						<span>Cómo cobrar</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="modalbox animated fadeIn" *ngIf="howto_register" (click)="closeModal($event)">
	<button class="btn-close" (click)="howto_register = false">X cerrar</button>
	<div class="modalbox-container boxsteps">
		<h2 class="titulos">¿Cómo registrarme en Ya Ganaste?</h2>
		<ul class="boxsteps-steps">
			<li>
				<img src="assets/img/img-step1.png" srcset="assets/img/img-step1@2x.png 2x" alt="Paso1" class="boxsteps-icon">
				<img src="assets/img/img-dots.png" srcset="assets/img/img-dots@2x.png 2x" alt="···" class="boxsteps-dots">
				<h4>Paso 1:</h4>
				<p>Crea una cuenta en Ya Ganaste ingresando tus datos personales</p>
			</li>
			<li>
				<img src="assets/img/img-step2.png" srcset="assets/img/img-step2@2x.png 2x" alt="Paso2" class="boxsteps-icon">
				<img src="assets/img/img-dots.png" srcset="assets/img/img-dots@2x.png 2x" alt="···" class="boxsteps-dots">
				<h4>Paso 2:</h4>
				<p>Añade el número de tu tarjeta para poder activarla</p>
			</li>
			<li>
				<img src="assets/img/img-step3.png" srcset="assets/img/img-step3@2x.png 2x" alt="Paso3" class="boxsteps-icon">
				<img src="assets/img/img-dots.png" srcset="assets/img/img-dots@2x.png 2x" alt="···" class="boxsteps-dots">
				<h4>Paso 3:</h4>
				<p>Registra los datos de tu negocio para aceptar pagos con tarjeta</p>
			</li>
			<li>
				<img src="assets/img/img-step4.png" srcset="assets/img/img-step4@2x.png 2x" alt="Paso4" class="boxsteps-icon">
				<h4>Paso 4:</h4>
				<p>Envía los documentos solicitados para terminar tu proceso de registro</p>
			</li>
		</ul>
	</div>
</section>

<section class="modalbox animated fadeIn" *ngIf="howto_pay" (click)="closeModal($event)">
	<button class="btn-close" (click)="howto_pay = false">X cerrar</button>
	<div class="modalbox-container boxsteps">
		<h2 class="titulos">¿Cómo cobrar con Ya Ganaste?</h2>
		<ul class="boxsteps-steps">
			<li>
				<img src="assets/img/img-step1b.png" srcset="assets/img/img-step1b@2x.png 2x" alt="Paso1" class="boxsteps-icon">
				<img src="assets/img/img-dots.png" srcset="assets/img/img-dots@2x.png 2x" alt="···" class="boxsteps-dots">
				<h4>Paso 1:</h4>
				<p>Ingresa el monto a cobrar y un concepto opcional</p>
			</li>
			<li>
				<img src="assets/img/img-step2b.png" srcset="assets/img/img-step2b@2x.png 2x" alt="Paso2" class="boxsteps-icon">
				<img src="assets/img/img-dots.png" srcset="assets/img/img-dots@2x.png 2x" alt="···" class="boxsteps-dots">
				<h4>Paso 2:</h4>
				<p>Conecta tu lector de tarjetas en el puerto de audifonos de tu celular</p>
			</li>
			<li>
				<img src="assets/img/img-step3b.png" srcset="assets/img/img-step3b@2x.png 2x" alt="Paso3" class="boxsteps-icon">
				<img src="assets/img/img-dots.png" srcset="assets/img/img-dots@2x.png 2x" alt="···" class="boxsteps-dots">
				<h4>Paso 3:</h4>
				<p>Inserta o desliza la tarjeta en tu lector de tarjetas Ya Ganaste</p>
			</li>
			<li>
				<img src="assets/img/img-step4b.png" srcset="assets/img/img-step4b@2x.png 2x" alt="Paso4" class="boxsteps-icon">
				<h4>Paso 4:</h4>
				<p>Retira la tarjeta del lector y pide a tu cliente su firma</p>
			</li>
		</ul>
	</div>
</section>
